<nav class="NavBar">
  <header>
    <h1>Fakes</h1>
    <span><h1>Fakes</h1></span>
  </header>

  <ul>
    <li><a href="/index.html">Home</a></li>
    <li><a href="/market.html">Market</a></li>
    <li><a href="/customer-care.html">Customer Care</a></li>
    <li><a href="/track-order.html">Track Order</a></li>
  </ul>

  <div class="userPanel">
    <label x-hide-mobile="true">
      <a id="x-data-username" href="/login.html">Login</a>
      <span></span>
    </label>

    <span class="image__container">
      <img
        width="35"
        height="35"
        id="x-data-user__profile__picture"
        alt="Profile picture"
        src="/static/media/profile-picture.png"
      />
    </span>
  </div>
</nav>
