<div class="ChatBox">
  <div class="inner">
    <div class="messagesBox">
      <div class="messageBox left">
        <p>Hi how can I help you?</p>
        <label>10:00</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
      <div class="messageBox right">
        <p>Testing ajsljkdnakl mnsldmanb kljbalkjsdi jabs</p>
        <label>10:01</label>
      </div>
    </div>
    <div class="typingInput">
      <input type="text" placeholder="Please write your message here." />
      <button id="ChatBox-input">
        <img src="/static/media/send.png" alt="Send Icon" />
      </button>
    </div>
  </div>
</div>
