// Fonts
$font__primary: "Agency FB";
$font__fallback: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";

$font__family: $font__primary, $font__fallback;

// Boundries

$bound__x: 2048px;
$bound__y: 1080px;

// Color palette

$primary__color: #000000;
$primary__background: #eff0f5;

$secondary__color: #00000080;

$component__color: #000000;
$component__background: #ffffff;

$component-secondary__color: #6c56c5;

@function component__shadow($area: 20px, $color: rgba(0, 0, 0, 0.3)) {
  @return 0 0 $area $color;
}

// Responsive breakpoints

$breakpoint-mobile: 600px;
$breakpoint-tablet: 992px;
